.layoutContainer {
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-bg-main);
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.content {
    padding: 2rem;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}